body {
    position: relative;
}
.menu {
    display: flex;
    align-items: center;
    border: solid darkcyan;
    color:darkcyan;
    background-color: lightcyan;
    font-size: 20px;
    top: 300px;
    left: 550px;
    transform: translate(-50%, -50%);
    position: absolute;
}
.hidden {
    display: none;
}
.start-game {
    color: darkcyan;
    background-color: lightcyan;
}
.restart-game {
    color:darkcyan;
}